* {
  font-family: Comic Sans MS;
}
body {
  background-image: url(../img/plastik.jpg);
  background-repeat: no-repeat;
}
.toggleBox {
    position: relative;
    border: 1px solid #ddd;
}
 
/* Ausblenden des input-Feldes */
.toggleBox > input {
    position: absolute;
    left: -99999px;
}
 
/* Gestaltung der labels */
.toggleBox > label {
    display: block;
    background-color: white;
    opacity: 0.5;
    padding: 0.4em;
    text-align: center;
    cursor: pointer;
}
 
.toggleBox > label:hover {
    background: #ddd;
}
 
/* Der Aufklappmechanismus */
.toggleBox > input:not(:checked) ~ div {
    opacity: 0;
    height: 0;
}
 
.toggleBox > input:checked ~ div {
    opacity: 1;
    padding: .8em;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
 
/* Steuerung der Sichtbarkeit der labels */
.toggleBox > input:not(:checked) ~ .close,
.toggleBox > input:checked ~ .open {
    display: none;
}

input[type=checkbox] + label {
    color: #ff3333;
    font-style: italic;
} 

li {
  list-style-type: none;
}

h1 {
  margin-left: 1em;
  text-decoration: underline;
  color: orange;
}

h2 {
  margin-left: 1em;
  color: orange;
}

.eintrag {
  margin-left: 0.3em;
}