header {
  color:black;
  font-size: 50px;
}


body {
  background: linear-gradient(#1800ff, grey);
}

#testdiv {
  visibility: hidden;
  background: blue;
}

li {
  font-family: sans-serif;
  font-size: 20px;
  color: black;
}

input[type=checkbox] + label {
  color: #ff3333;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color:#57c624;
  font-style: normal;
} 

#mapid {
  height: 300px;
}
