header {
    color:black;
    font-size: 50px;
}


body {
    background: lightblue;
}

#testdiv {
  visibility: hidden;
  background: blue;
  }
  li {
      font-family: sans-serif;
      font-size: 20px;
      color: black;
  }
  input[type=checkbox]:checked + label {
color:greenyellow;      
  }
  input[type=checkbox] + label {
      color:red;
  }
  