header {
    color:black;
    font-size: 100px;
}


body {
    background: lightblue;
}

#testdiv {
  visibility: hidden;
  background: blue;
  }
  ul {
      font-family: sans-serif;
      font-size: 30px;
  }
  